.title-row{
    font-size: 30px;
    color: #ffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}
.img-gallery img{
    flex-direction: row;
    margin: 0px 3px 0px 3px;   
}
